body {
    padding: 0;
    margin: 0;
}

html, body, #mapid {
    width: 100vw;
    height: 100%; /* No vh because of mobile Chrome bug */
}

h1 {
    color: #6F4E37; /* This is the official coffee color! */
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.leaflet-popup-content a, .leaflet-control-attribution a {
    color: #6F4E37 !important; /* Override Leaflet styles */
    text-decoration: none;
}

.leaflet-popup-content a:hover, .leaflet.control-attribution a:hover {
    text-decoration: underline;
}

footer {
    margin-top: 0.67em; /* Same spacing as below h1 by default */
}
